<!DOCTYPE html>
<html>
<head>
    <title>Password Strength Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Password Strength Analyzer</h1>

    <form method="POST">

        <input type="password"
               name="password"
               placeholder="Enter Password"
               required>

        <button type="submit">Analyze</button>

    </form>

    {% if strength %}

    <div class="progress">
        <div class="bar {{ color }}" style="width: {{ score }}%;"></div>
    </div>

    <h2 class="{{ color }}">{{ strength }}</h2>

    <h3>Score: {{ score }}/100</h3>

    <div class="suggestions">

        <h3>Suggestions</h3>

        <ul>
            {% for item in suggestions %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>

    </div>

    {% endif %}

</div>

</body>
</html>
